/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Quicksand", sans-serif;
}

:root,
html,
body {
    font-size: 10px;
    color: #656262;
    text-align: center;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    :root,
    html,
    body {
        font-size: 8px;
    }
}

a {
    color: #656262;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.main {
    width: calc(100% - 100px);
    height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 50px;
}
@media screen and (max-height: 980px) {
    .main {
        padding: 30px 50px;
    }
}
@media screen and (max-height: 750px) {
    .main {
        padding: 50px;
    }
}
@media screen and (max-width: 350px) {
    .main {
        width: calc(100% - 60px);
        padding: 30px;
    }
}

.logo {
    width: auto;
    height: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .logo {
        height: 200px;
    }
}

@media screen and (max-width: 468px) {
    .logo {
        height: 150px;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        height: 130px;
    }
}

.display-s {
    font-size: 5.5rem;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 50px;
}

.title {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 0;
}

.subtitle {
    font-size: 2.4rem;
    line-height: 3.5rem;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
}

.text {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

.store-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 120px;
}

.store-links .button {
    width: 220px;
    height: 65px;
    background-color: black;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.store-links__image {
    height: 60px;
}

@media screen and (max-width: 468px) {
    .store-links__image {
        height: 50px;
    }
    .store-links {
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 350px) {
    .store-links__image {
        height: 30px;
    }
}

.store-links .button:first-child {
    margin-right: 10px;
}
.store-links .button:last-child {
    margin-left: 10px;
}
